body{
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        display: block;
        padding: 25px 1rem;
        color: map-get($color , 'white');
        &:hover{  
            background: map-get($color , 'primary');
        }
    }
    @include phone{
        display: none;
    }
}
.sm-menu{
    display: none;
    @include phone{
        display: block;
        position: relative;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
}
.sm-nav{
    display: none;
}
.hero_banner{
    background: url(../images/home-header.png) no-repeat;
    background-size: cover;
    height: 787px;
    @include phone{
        background: url(../images/home-header-sm.png) no-repeat;
        background-size: cover;
        height: 396px;
    }
}
.joint{
    background: url(../images/index-bg.png) no-repeat;
    background-size: cover;
}

.from{
    &-input{
        padding: 6px 0 6px 12px;
        font-size: 16px;
        border: 1px solid #000000;
    }
    &-opinion{
        padding: 6px 0 106px 12px;
        font-size: 16px;
        border: 1px solid #000000;
    }
}

.ft-border{
    border-bottom:1px solid white;
}
.ft-sm-border{
    @include phone{
        border-bottom:1px solid white;
    }
}