html {
    scroll-behavior: smooth;
}
body {
  font-family: $font-primary, sans-serif;
  color: map-get($color , "primary");
  line-height: 1.5;
}
@mixin pc{
  @media screen and (max-width: map-get($breakpoint, "lg")) {
      @content;
  }
}

@mixin pad{
  @media screen and (max-width: map-get($breakpoint, "md")) {
      @content;
  }
}

@mixin phone{
  @media screen and (max-width: map-get($breakpoint, "sm")) {
      @content;
  }
}
h1{
  font-size: 4rem;
  font-weight: bold;
  @media screen and (max-width: 620px){
    font-size: 1.5rem;
  }
}
h2{
  font-size: 3rem;
  font-weight: bold;
  @include phone{
    font-size: 1.5rem;
  }
}
h3{
  font-size: 24px;
  font-weight: bold;
  @include pad{
    font-size: 1.5rem;
  }
}
p {
  color: #000;
}
a {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  transition: 0.3s;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  @include pad{
      max-width: 720px;
  }
  @include phone{
      max-width: 100%;
  }
}