html {
    scroll-behavior: smooth;
}
body {
  font-family: $font-primary, sans-serif;
  color: map-get($color , "primary");
  line-height: 1.5;
}
h1{
  font-size: 4rem;
  font-weight: bold;
  @include pad{
    font-size: 4rem;
  }
  @include phone{
    font-size: 1.5rem;
  }
}
h2{
  font-size: 3rem;
  font-weight: bold;
  @include pad{
    font-size: 3rem;
  }
  @include phone{
    font-size: 1.5rem;
  }
}
h3{
  font-size: 24px;
  font-weight: bold;
  @include pad{
    font-size: 1.5rem;
  }
}
p {
  color: #000;
}
a {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  transition: 0.3s;
}
.container{
  max-width: map-get($breakpoint , 'lg' );
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include pad{
      max-width: map-get($breakpoint , 'md' );
      padding: 0 36px;
  }
  @include phone{
      max-width: map-get($breakpoint , 'sm' );
      padding: 0 14px 0 13px;
  }
}
