.logo{
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
    & a{
        display: block;
        width: 80px;
        height: 48.57px;
        background: url(../images/logo-white.png) no-repeat;
        background-size: cover;
    }
}
.btn{
    background: map-get($color, "secondary");
    color: map-get($color, "white");
    cursor: pointer;
    &:hover{
        background: map-get($color, "primary");
    }
}
.icon{
    display: block;
    font-size: 84px;
    text-align: center;
}
.ft-icon{
    width: 48px;
    height: 48px;
    @include pad{
        width: 40px;
        height: 40px;
    }
    @include phone{
        width: 24px;
        height: 24px;
    }
}
.ft-contact{
    font-size: 36px;
    @include phone{
        font-size: 18px;
    }
}

.card{
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    height: 100%;
    background: #fff;
    &-img{
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
}


.round{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 10px #00000014;
}

