//租造格線系統
//以margin來做gutter

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: (-.5 * $grid-gutter-width); 
    margin-left: (-.5 * $grid-gutter-width); 
    > *{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
}

@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 auto;
        width: percentage($i / $columns); //用百分比去做切割欄位
        padding-right: (.5 * $grid-gutter-width); 
        padding-left: (.5 * $grid-gutter-width); 
    }
}

//從variables取 breakpoint去做斷點
@each $size, $size-value in $breakpoint {
    @media screen and (max-width: $size-value) {
        @for $i from 1 through $columns {
            .col-#{$size}-#{$i} {
                flex: 0 0 auto;
                width: percentage($i / $columns); //用百分比去做切割欄位
                padding-right: (.5 * $grid-gutter-width); 
                padding-left: (.5 * $grid-gutter-width); 
            }
        }
    }
}

//margin、padding設定

//推全部 跑回圈 distance 從 0 ~ 12
@for $distance from 0 through 12 {
    .p-#{$distance} {
        padding: ($distance * 0.5) + rem;
    }
    .m-#{$distance} {
        margin: ($distance * 0.5) + rem;
    }
}

//單獨推上、下、左、右
@each $dir, $dir-value in $direction {
    @for $distance from 0 through 12 {
        .m#{$dir}-#{$distance} {
            margin-#{$dir-value}: ($distance * 0.5) + rem;
        }

        .p#{$dir}-#{$distance} {
            padding-#{$dir-value}: ($distance * 0.5) + rem;
        }
    }
}

//從variables取 breakpoint去做斷點
@each $size, $size-value in $breakpoint {
    @media screen and (max-width: $size-value) {
        //單獨推上、下、左、右
        @each $dir, $dir-value in $direction {
            //跑回圈 min-distance 從 0 ~ 8
            @for $min-distance from 0 through 8 {
                .m#{$dir}-#{$size}-#{$min-distance} {
                    margin-#{$dir-value}: #{$min-distance * 0.5}rem;
                }

                .p#{$dir}-#{$size}-#{$min-distance} {
                    padding-#{$dir-value}: #{$min-distance * 0.5}rem;
                }
            }
        }
    }
}

//推x軸或y軸
@for $distance from 0 through 12 {
    .px-#{$distance} {
        padding-right: ($distance * 0.5) + rem;
        padding-left: ($distance * 0.5) + rem;
    }
    .py-#{$distance} {
        padding-top: ($distance * 0.5) + rem;
        padding-bottom: ($distance * 0.5) + rem;
    }
    .mx-#{$distance} {
        margin-right: ($distance * 0.5) + rem;
        margin-left: ($distance * 0.5) + rem;
    }
    .my-#{$distance} {
        margin-top: ($distance * 0.5) + rem;
        margin-bottom: ($distance * 0.5) + rem;
    }
}
//從variables取 breakpoint去做斷點
@each $size, $size-value in $breakpoint {
    @media screen and (max-width: $size-value) {
        //跑回圈 istance 從 0 ~ 12
        @for $distance from 0 through 12 {
            //推x軸
            .px-#{$size}-#{$distance} {
                padding-right: ($distance * 0.5) + rem;
                padding-left: ($distance * 0.5) + rem;
            }

            .py-#{$size}-#{$distance} {
                padding-top: ($distance * 0.5) + rem;
                padding-bottom: ($distance * 0.5) + rem;
            }
        }
    }
}

@each $size, $size-value in $breakpoint {
    @media screen and (max-width: $size-value) {
        @for $distance from 0 through 12 {
            .mx-#{$size}-#{$distance} {
                margin-right: ($distance * 0.5) + rem;
                margin-left: ($distance * 0.5) + rem;
            }

            .my-#{$size}-#{$distance} {
                margin-top: ($distance * 0.5) + rem;
                margin-bottom: ($distance * 0.5) + rem;
            }
        }
    }
}

//設定 line-height
@each $size,  $size-value in $lineheight{
    .lh-#{$size}{
        line-height: $size-value;
    }
}

//字體大小
@for $size from 1 through 8{
    .fz-#{$size}{
        font-size: ($size * 0.5) + rem;
    }
}


//字體顏色
@each $colors,  $color-value in $color{
    .color-#{$colors}{
        color: $color-value;
    }
}

//背景
@each $colors,  $color-value in $color{
    .bg-#{$colors}{
        background: $color-value;
    }
}

//按鈕
@each $colors,  $color-value in $color{
    .btn-#{$colors}{
        display: inline-block;
        border-radius: 50rem;
        background: $color-value;
        cursor: pointer;
        &:hover{
            background: darken($color-value, 25%);
        }
    }
}





//微調
.fz-px-36{
    font-size: 36px;
}
.fz-px-14{
    font-size: 14px;
}
.fz-sm-6{
    @include phone{
        font-size: 3rem;
    }
}
.fz-sm-2{
    @include phone{
        font-size: 1rem;
    }
}
.font-primary{
    font-family: $font-primary;
}
.font-secondary{
    font-family: $font-secondary;
}
.py-px-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.p-btn{
    padding: 6px 12px;
}
.gap-4{
    gap: 2rem;
}
.gap-md-2{
    @include pad{
        gap: 1rem;
    }
}
.gap-sm-1{
    @include phone{
        gap: 0.5rem;
    }
}

.fw-b{
    font-weight: bold;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}

.w-md-100{
    @include pad{
        width: 100%;
    }
}


.mx-a{
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
  
.text-right{
    text-align: right;
}
  
.text-left{
    text-align: left;
}
.font-style-italic{
    font-style: italic;
}
.d-none{
    display: none;
}
.d-md-none{
    @include pad{
        display: none;
    }
}
.d-sm-none{
    @include phone{
        display: none;
    }
}
.d-sm-block{
    @include phone{
        display: block;
    }
}
.d-flex{
    display: flex;
}
.d-sm-flex{
    @include phone{
        display: flex;
    }
}
.d-grid{
    display: grid;
}  
.d-inline-block{
    display: inline-block;
}
  
.d-block{
    display: block;
}

.justify-content-center{
    justify-content: center;
}
  
.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{
    justify-content: space-around;
}
  
.align-items-center{
    align-items: center;
}
.align-items-sm-start{
    @include phone{
        align-items: start;
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-md-column{
    @include pad{
        display: flex;
        flex-direction: column;
    }
}
.flex-sm-column{
    @include phone{
        display: flex;
        flex-direction: column;
    }
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-self-center{
    align-self: center;
}


.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.p-fixed{
    position: fixed;
}

.p-sticky{
    position: sticky;
}

.vertical-sub{
    vertical-align: sub;
}
.vertical-middle{
    vertical-align: middle;
}

.margin-center{
    margin: 0 auto;
}

.flex-wrap{
    flex-wrap: wrap;
}

.word-wrap-normal{
    word-wrap: normal;
}

